*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}
body {
    background-image: url('../images/dasha2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.8rem;
    color: orange;
    font-weight: bolder;
}

.login-box {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 21rem;
    height: 14rem;
    padding: 1rem;
    margin-left: -10.5rem;
    margin-top: -9rem;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 1rem;
}

.login-box h3{
    color: rgb(22, 155, 213);
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
}

.input-box{
    margin: 1.5rem auto;
}

.put-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.853rem;
    color: #666;
}

.put-c:nth-child(1) {
    margin-bottom: 1rem;
}

.put-c p {
    width: 4rem;
    text-align: center;
}

.put-c input {
    width: 10rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 0.853rem;
    border: 2px solid #ccc;
}

.put-c i,.put-c span {
    width: 1.5rem;
    height: 1.5rem;
}

.put-c i {
    background-image: url('../images/yincang.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.btn-box a {
    padding: 0.5rem 2rem;
    font-size: 0.853rem;
    color: #fff;
    border-radius: 0.5rem;
    background-color: rgb(188, 188, 188);
    cursor: pointer;
}

a#confirm {
    background-color: rgb(22, 155, 213);
}